<div class="span4">
  <%= image_tag "pickup.png", class: "img" %>
  <h2>Pickup and Delivery</h2>
  <p>No more renting a truck or schlepping to the other side of town.  We take care of it.</p>
</div>
<div class="span4">
  <%= image_tag "no_lift.png", class:"img" %>
  <h2>No Lifting</h2>
  <p>We take care of all the lifting. Just tell us what needs to go.  You don't need to lift a finger.</p>
</div>
<div class="span4">
  <%= image_tag "manage.png", class:"img" %>
  <h2>Manage it Online</h2>
  <p>See everything you have stored online.  Schedule pickups and deliveries with a few clicks.</p>
</div>
</div>

<div class="row">
  <div class="span6">
    <%= image_tag "security.png", class:"img" %>
    <h2>Safe and Secure</h2>
    <p>Your belongings are stored in our highly secure facility so you have peace of mind.</p>
  </div>
  <div class="span6">
    <%= image_tag "space.png", class:"img" %>
    <h2>Pay for the Space You Use</h2>
    <p>Why pay for for a whole unit if you don't need it? We have pricing plans for every need.</p>
  </div>
</div>