<div class="row">
  <a id="about"></a>
  <div class="span8 section-header about-us">
    <%= image_tag "about_us_header.png", class: "img" %>
    <p>At Fifth Room, we are storage experts.  Our owners have a combined <strong>20 years</strong> of experience managing space for large distribution companies.  What does that mean for you? We know how to keep your belongings <strong>safe and secure</strong>.  We also use space more efficiently in our warehouse than typical moving and storage companies, keeping costs low.  We pass those savings along to you.</p>
    <div class="row">
      <div class="span4">
        <%= image_tag "jesse.png", class: "img" %>
      </div>

      <div class="span4">
        <%= image_tag "james.png", class: "img" %>
      </div>
    </div>
  </div>


  <div class="span4 affiliations">
    <h6>We are proud members of:</h6>
    <%= link_to image_tag("flashpoint_logo.png", class:"img"), "http://flashpoint.gatech.edu" %><br/>
    <%= link_to image_tag("ssa_logo.png", class: "img"), "http://www.selfstorage.org" %><br/>
    <%= link_to image_tag("mac_logo.png", class: "img"), "http://ww.metroatlantachamber.com" %>
  </div>
</div>