<%= provide(:title, 'New Self Storage Service in Atlanta, GA') %>

<div class="hero-unit">
    <h1><span style="text-decoration: line-through;">Self</span> Storage. Reimagined.</h1>

      <%= image_tag "fifthroom_apple_family.png"%>
</div>
<div class="row-fluid">
  <div class="span4">
    <h2><%= image_tag "icon-door-to-door.png", class:"icon" %>Pickup & Delivery</h2>
    <p class="feature">No more schlepping to storage. We can pick up and deliver with just one day's notice.</p>
    <%= link_to "Learn more...", how_it_works_path %>

  </div>
  <div class="span4">
    <h2><%= image_tag "icon-pay-for-space.png", class:"icon" %>Only Pay for What You Use</h2>
    <p class="feature">Store one item. Or a bunch. It's up to you. And you only pay for the space you actually use.</p>
    <%= link_to "Learn more...", pricing_path %>

  </div>
  <div class="span4">
    <h2><%= image_tag "icon-relax.png", class:"icon" %>Your Storage. Online.</h2>
    <p class="feature">See what's stored, schedule pickups and deliveries of individual items online or from your mobile device. It couldn't be easier.</p>
    <%= link_to "Learn more...", how_it_works_path %>

  </div>
</div>

