<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Email Address</th>
      <th>Phone Number</th>
      <th>Addresses</th>
      <th>Items</th>
      <th>Orders</th>
    </tr>
  </thead>
  <tbody>
    <% @user.each do |user| %>
        <tr>
          <td><%= link_to user.full_name, user_path(user) %></td>
          <td><%= user.email_address %></td>
          <td><%= user.phone_number %></td>
          <td><%= link_to user.addresses.count, user_addresses_path(user) %></td>
          <td><%= link_to user.items.count, user_items_path(user) %> (<%= link_to "Add item", new_user_item_path(user) %>) </td>
          <td><%= user.orders.count %></td>
        </tr>

    <% end %>

  </tbody>
</table>