<%= form_for [@user, @order] do |order_form| %>

    <% if @user.items.count == 0 %>

        <%= order_form.hidden_field :order_type, value: "Pickup" %>
    <% else %>
        <%= order_form.select(:order_type, ["Pickup", "Delivery"]) %>
    <% end %>

    <%= order_form.label "When would you like us to pick up your stuff?" %>
    <%= order_form.datepicker :order_date_form %>

    <%= order_form.label "Where are we picking up?" %>
    <%= order_form.collection_select(:address_id, @user.addresses.all, :id, :nickname) %>

    <%= order_form.label "Who referred you?" %>
    <%= order_form.text_field :referral %>

    <div>
    <%= order_form.label "Any special instructions?" %>
    <%= order_form.text_area :order_notes, cols: 10, rows: 3 %>
    </div>

    <% unless @user.items.count == 0 %>
        <%= render 'forms/form_item_partial' %>
    <% end %>

    <div>
      <%= order_form.submit "Complete Order", class:"btn btn-danger" %>
    </div>

<% end %>