<div class="row-fluid">
  <div class="span11 offset1">
    <%= form_for(@user) do |form| %>
        <%= render 'shared/user_form_error_messages', object: form.object %>

        <div class="span12">
          <h3>What's your name?</h3>
          <div class="span3">
            <%= form.label :first_name, "First Name" %>
            <%= form.text_field :first_name%>
          </div>

          <div class="span2">
            <%= form.label :middle_initial, "Middle Initial (optional)" %>
            <%= form.text_field :middle_initial, class:"input-small"%>
          </div>

          <div class="span3">
            <%= form.label :last_name, "Last Name" %>
            <%= form.text_field :last_name %>
          </div>
        </div>


        <div class="span12">
          <h3>How can we reach you?</h3>
          <div class="span3">
            <%= form.label :email_address, "Email Address" %>
            <%= form.text_field :email_address, placeholder: "Email Address" %>
          </div>

          <div class="span4">
            <%= form.label :phone_number, "Phone Number" %>
            <%= form.text_field :phone_number %>
          </div>

        </div>


        <div class="span12">
          <h3>Choose a Password</h3><p>(You'll use your email address to log in to your account.)</p>
          <div class="span3">
            <%= form.label :password, "Password" %>
            <%= form.password_field :password, placeholder: "Password" %>
          </div>

          <div class="span4">
            <%= form.label :password_confirmation, "Confirm Password" %>
            <%= form.password_field :password_confirmation, placeholder: "Password Confirmation" %>
          </div>


        </div>

        <div class="span12">
          <div class="span3">
            <%= form.submit "Create Account", class:"btn btn-danger" %>
          </div>
        </div>

    <% end %>
  </div>
</div>