<ul class="nav">
  <li><%= link_to "How it works", how_it_works_storage_rental_index_path %></li>
  <li><%= link_to "Pricing", pricing_storage_rental_index_path %></li>
  <li><%= link_to "Get a Quote", quote_storage_rental_index_path %></li>
  <li><%= link_to "Get Started", signup_path, class:"get-started" %></li>
  <li><%= link_to "FAQ", faq_storage_rental_index_path %></li>
  <li><a href="http://blog.fifthroomstorage.com">Read our Blog</a></li>
  <li class="pull-right"><%= link_to "Sign In", signin_path %></li>
</ul>
