<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Fifth Room Storage" %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<div class="container">
      <header class="navbar navbar-fixed-top">
        <nav class="navbar-inner">
          <div class="pull-right">
            <%= render 'layouts/single_page_nav' %>
          </div>
        </nav>
      </header>
  <%= render 'layouts/header' %>
</div>
<div id="main" role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= render 'layouts/messages' %>
        </div>
      </div>

      <%= yield %>

      <div class="row">
        <div class="span12">
          <footer class="footer-links">
            <nav class="">
              <%= render 'layouts/footer' %>
              <%= debug(params) if Rails.env.development? %>
            </nav>
          </footer>
        </div>
      </div>

    </div>
  </div> <!--! end of .container -->
</div> <!--! end of #main -->
</body>
</html>
